   .full{
  display: flex;
  margin: 0;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.d1{
  border-radius: 8px;
  margin: 4px;
  max-width: 20%;
  padding: 10px;
  box-shadow: 1px 1px 1.5px rgb(0, 0, 0,0.6);
}